<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profilo</title>
    <link th:href="@{Style/styleProfilo.css}" rel="stylesheet" />
</head>
<body>
    <div class="intestazione">
        <h1>Profilo</h1>
    </div>
    <div class="contenuto">
        <div class="menu">
            <a href="/home">Home</a>
            <a href="/aggiungi">Aggiungi Libro</a>
            <a href="/libri">I tuoi Libri</a>
        </div>
        <div class="utente">
            <h3>Nome: <span th:text="${utente.nome}"></span></h3>
            <p>Cognome: <span th:text="${utente.cognome}"></span></p>
            <p>Username: <span th:text="${utente.username}"></span></p>
            <p>Password: <span th:text="${utente.password}"></span></p>
            <div class="divPulsanti">
                <a href="/login">Logout</a>
                <a th:href="'/utenti/' + ${utente.id}">Elimina Account</a>
            </div>
        </div>
    </div>
</body>
</html>