<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profilo</title>
    <link th:href="@{Style/styleProfilo.css}" rel="stylesheet" />
</head>
<body>
    <div class="intestazione">
        <h1>Profilo</h1>
    </div>
    <div class="contenuto">
        <div class="menu">
            <a href="/profilo">Profilo</a>
            <a href="/home">Elenco Libri</a>
            <a href="/aggiungi">Aggiungi Libro</a>
        </div>
        <div class="utente">
            <h3>Nome: Riccardo</h3>
            <p>Cognome: Frigerio</p>
            <p>Username: Riky03</p>
            <p>Password: 12345</p>
        </div>
    </div>
</body>
</html>