<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Libro</title>
    <link th:href="@{Style/styleLibro.css}" rel="stylesheet" />
</head>
<body>
    <div class="intestazione">
        <h1>Libro</h1>
    </div>
    <div class="contenuto">
        <div class="menu">
            <a href="/profilo">Profilo</a>
            <a href="/home">Elenco Libri</a>
            <a href="/aggiungi">Aggiungi Libro</a>
        </div>
        <div class="libro">
            <h3 th:text="'Titolo: ' +${libro.titolo}"></h3>
            <p th:text="'Autore: ' +${libro.autore}"></p>
            <p th:text="'Anno Pubblicazione: ' +${libro.autore}"></p>
            <p th:text="'Prezzo: ' +${libro.prezzo}"></p>
            <a th:href="'/modifica/' + ${libro.id}">Modifica</a>
        </div>
    </div>
</body>
</html>