<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libreria Store</title>
    <link th:href="@{Style/styleHome.css}" rel="stylesheet" />
</head>
<body>
    <div class="intestazione">
        <h1>Libreria Store</h1>
    </div>
    <div class="contenuto">
        <div class="menu">
            <a href="/profilo">Profilo</a>
            <a href="/home">Elenco Libri</a>
            <a href="/aggiungi">Aggiungi Libro</a>
        </div>
        <div class="listaLibri">
            <div class="libro">
                <h3>Titolo: Pippo</h3>
                <p>Autore: AAAA</p>
                <p>Anno Pubblicazione: 2023</p>
                <p>Prezzo: 20€</p>
                <a href="/libro">Dettaglio</a>
            </div>
        </div>
    </div>
</body>
</html>