<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I tuoi Libri</title>
</head>
<body>
    <div class="intestazione">
        <h1>Libreria Store</h1>
    </div>
    <div class="contenuto">
        <div class="listaLibri">
            <th:block th:each="libro : ${libri}">
                <div class="libro">
                    <h3 th:text="'Titolo:' + ${libro.titolo}"></h3>
                    <p th:text="'Autore:' + ${libro.autore}"></p>
                    <p th:text="'Anno di pubblicazione:' + ${libro.annoPubblicazione}"></p>
                    <p th:text="'Prezzo:' + ${libro.prezzo}"></p>
                    <a th:href="'/libriUtenti/' + ${libro.id}">Dettaglio</a>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>